.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

body {
    background-size: cover;
}

.note {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.play_button {
    width: 130px;
    font-size: 15px;
}

canvas {
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px burlywood;
    border: 4px solid white;
}